/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}
/* 顶部导航 start */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}
.topbar-welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}
.topbar-welcome span,a {
    font-size: 12px;
}
.topbar-welcome .hello {
    margin-right: 28px;
}
.topbar-welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.topbar-welcome .register {
    padding-left: 10px;
}

/* 顶部导航 end */
