p {
    color: gray;
}

h4 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 1px 1px 1px black;
}

html {
    font-size: 10px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
    font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
    background-color: rgba(79, 169, 87, 0.17);
}