code {
    display: block;
    font-family: monospace;
    white-space: break-spaces;
    background-color: #F4F8F4;
    margin: 1em 0px;
}
/* 超小屏幕 */
@media screen and (max-width:768px) {
    .container {
        background-color: rgb(228, 221, 212);
    }
}
/* 中等屏幕 */
@media screen and (min-width:768px) and (max-width:992px) {
    .container {
        background-color: rgb(187, 156, 115);
    }
}
/* 大屏幕 */
@media screen and (min-width:992px) and (max-width:1200px) {
    .container {
        background-color: rgba(48, 46, 45, 0.705);
    }
}
/* 超大屏幕 */
@media screen and (min-width:1200px) {
    .container {
        background-color: rgba(90, 88, 87, 0.705);
    }
}
.tips {
    margin: 20px auto;
    background-color: #F4F8F4;
    border-left: 5px solid #8BB688;
    padding: 0.1em;
}
.tips>p {
    text-indent: 2em;
}
/* #F4F8F4  #8BB688  */
.demo-column {
    width: 1000px;
    margin: 10px auto;
    /* 直接指定列数 */
    column-count: 4;
    column-gap: 50px;
    column-rule: 2px double red;
}
.demo-column>h2 {
    column-span: all;
}
.demo-column>img,
.demo-column-img>img
{
    width: 100%;
}
.demo-column-img {
    margin: 10px auto;
    column-count: 5;
}
.demo-column-img>img:hover {
    box-shadow: 0px 0px 20px black;
    transform: scale(1.05);
    transition: 0.2s linear;
}
.demo-flex-justify {
    width: 1000px;
    margin-top: 1em;
    background-color: orange;
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.demo-flex-justify>.inner {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    color: #FFF;
    font-size: 40px;
    text-align: center;
    background-color: tomato;
}